<!-- Sidebar header/branding -->
<md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
    <user-avatar></user-avatar>
    <span></span>
    <div>Firstname Lastname</div>
    <div>email@domainname.com</div>
</div>
</md-toolbar>

<!-- Sidebar menu items -->
<md-list>
    <div ui-sref-active="active" ui-sref="autoresume.providers" class="sidebar-page">
        <md-list-item md-ink-ripple>Providers</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.personalinfo" class="sidebar-page">
        <md-list-item md-ink-ripple>Persoonlijke info</md-list-item>
    </div>
</md-list>
