<!-- Sidebar header/branding -->
<md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
    <user-avatar></user-avatar>
    <span></span>
    <div>{{ $root.name }}</div>
    <div>{{ $root.email }}</div>
</div>
</md-toolbar>

<!-- Sidebar menu items -->
<md-list>
    <div ui-sref-active="active" ui-sref="autoresume.admin" class="sidebar-page">
        <md-list-item md-ink-ripple>Admin panel</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.providers" class="sidebar-page">
        <md-list-item md-ink-ripple>Retrieve data</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.personalinfo" class="sidebar-page">
        <md-list-item md-ink-ripple>Profil</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.photo" class="sidebar-page">
        <md-list-item md-ink-ripple>Photo</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.education" class="sidebar-page">
        <md-list-item md-ink-ripple>Education</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.work" class="sidebar-page">
        <md-list-item md-ink-ripple>Work</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.skills" class="sidebar-page">
        <md-list-item md-ink-ripple>Skills</md-list-item>
    </div>
    <div ui-sref-active="active" ui-sref="autoresume.generate" class="sidebar-page">
        <md-list-item md-ink-ripple>Generate resume</md-list-item>
    </div>
</md-list>
