<md-content layout-padding flex="50" flex-offset="25">
    <form name="vm.adminForm">
        <h1> Admin Home </h1>

        <md-input-container ng-repeat="provider in vm.providerList.providers">
            <md-card>
              <md-card-content>
                <md-input-container>
                  <label>Display name</label>
                  <input required name="pretty_name" ng-model="provider.pretty_name" type="text" md-maxlength="50">
                  <div ng-messages="vm.adminForm.pretty_name.$error" ng-show="!vm.adminForm.$pristine">
                    <div ng-message="required">Required field</div>
                    <div ng-message="maxlength">This seems too long, can you shorten it?</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Provider name</label>
                  <input required name="name" ng-model="provider.name" type="text" md-maxlength="50">
                  <div ng-messages="vm.adminForm.name.$error" ng-show="!vm.adminForm.$pristine">
                    <div ng-message="required">Required field</div>
                    <div ng-message="maxlength">This seems too long, can you shorten it?</div>
                  </div>
                </md-input-container>
              <div class="md-actions" layout="row" layout-align="end center">
                <md-checkbox ng-model="provider.enabled" aria-label="Enabled" class="md-primary">
                    Enabled
                </md-checkbox>
              </div>
            </md-card>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="vm.update()">Update</md-button>
    </form>
</md-content>