<h1> Generate Resume </h1>
<div id="gen-container" data-ng-controller="GeneratorController">

	<h2 class="gen-title">Profile Picture</h2>
	<div id="pictures">

		<div class="picture">
			<label><a href="#" ng-click="fb_image = ! fb_image"><span ng-hide="fb_image">{{ vm.removeText }}</span><span ng-show="fb_image">{{ vm.undoText }}</span></a></label>
			<span class="picture check-element" ng-hide="fb_image"><img src="{{ vm.data.facebook.profilePhoto }}" /></span>
		</div>
		<div class="picture">
			<label><a href="#" ng-click="lin_image = ! lin_image"><span ng-hide="lin_image">{{ vm.removeText }}</span><span ng-show="lin_image">{{ vm.undoText }}</span></label>
			<span class="picture check-element" ng-hide="lin_image"><img src="{{ vm.data.linkedin.profilePhoto }}" /></span>
		</div>
		<div class="picture">
			<label><a href="#" ng-click="git_image = ! git_image"><span ng-hide="git_image">{{ vm.removeText }}</span><span ng-show="git_image">{{ vm.undoText }}</span></label>
			<span class="picture check-element" ng-hide="git_image"><img src="{{ vm.data.github.profilePhoto }}" /></span>
		</div>
	</div>

	<div id="personal">
	</div>

	<div id="bio">
	</div>

	<div id="employment">
	</div>

	<div id="education">
	</div>

	<div id="skills">

		<div id="proffesional">
		</div>

		<div id="personal">
		</div>
	</div>

</div>