<md-content layout-padding flex-gt-lg="80" flex-offset-gt-lg="10">
    <h1>Generate Resume</h1>
    <div id="gen-container">

        <h2 class="gen-title">Personal data</h2>
        <div id="pictures">

            <div class="picture">
                <span class="picture check-element"><img ng-repeat="item in vm.generatorData.photo.data" ng-if="item.enabled" ng-src="data:image/png;base64,{{item.url}}" /></span>
            </div>
        </div>

        <div id="personal">
            <div class="item">
                <label>First Name: </label>
                <p>{{ vm.generatorData.personal.data.first_name }}</p>
            </div>

            <div class="item _name">
                <label>Last Name: </label>
                <p>{{ vm.generatorData.personal.data.last_name }}</p>
            </div>

            <div class="item er">
                <label>Gender: </label>
                <p>{{ vm.generatorData.personal.data.gender }}</p>
            </div>

            <div class="item hday">
                <label>Birthday: </label>
                <p>{{ vm.generatorData.personal.data.birthday }}</p>
            </div>

            <div class="item">
                <label>Place of birth: </label>
                <p>{{ vm.generatorData.personal.data.birthplace }}</p>
            </div>

            <div class="item">
                <label>Address: </label>
                <p>{{ vm.generatorData.personal.data.address }}</p>
            </div>

            <div class="item">
                <label>Postal code: </label>
                <p>{{ vm.generatorData.personal.data.postalcode }}</p>
            </div>

            <div class="item">
                <label>City / Town: </label>
                <p>{{ vm.generatorData.personal.data.city }}</p>
            </div>

            <div class="item">
                <label>E-mail: </label>
                <p>{{ vm.generatorData.personal.data.email }}</p>
            </div>

            <div class="item">
                <label>Website: </label>
                <p>{{ vm.generatorData.personal.data.website }}</p>
            </div>
        </div>

        <div id="bio">
            <h2 class="gen-title">Personal profile</h2>
            <div class="item">
                <p>{{ vm.generatorData.personal.data.bio }}</p>
            </div>
        </div>

        <div class="clear">&nbsp;</div>

        <div id="employment">
            <h2 class="gen-title">Employment history</h2>
            <table>
            <tbody ng-repeat="item in vm.generatorData.work.data" ng-if="item.enabled">
                <tr class="first">
                    <td class="date">{{ item.start_date }} - <span ng-if="item.end_date != null">{{ item.end_date }}</span><span ng-if="item.end_date == null">Current</span></td>
                    <td class="employer">{{ item.employer }}</td>
                    <td class="industry">{{ item.industry }}</td>
                </tr>
                <tr class="second">
                    <td class="position">{{ item.position }}</td>
                    <td class="desc" colspan="2">{{ item.description }}</td>
                </tr>
            </tbody>
            </table>
        </div>

        <div id="education">
            <h2 class="gen-title">Education history</h2>
            <table>
            <tbody ng-repeat="item in vm.generatorData.education.data" ng-if="item.enabled">
                <tr class="first">
                    <td class="date">{{ item.start_date }} - <span ng-if="item.end_date != null">{{ item.end_date }}</span><span ng-if="item.end_date == null">Current</span></td>
                    <td class="school">{{ item.school }}</td>
                    <td class="type">{{ item.type }} {{ item.field }}</td>
                </tr>
                <tr class="second">
                    <td class="degree">{{ item.degree }}</td>
                    <td class="activities" colspan="2">{{ item.activities }}</td>
                </tr>
            </tbody>
            </table>
        </div>

        <div id="skills">

            <div id="work_skills">
                <h2 class="gen-title">Skills</h2>
                <div ng-repeat="item in vm.generatorData.skill.data" ng-if="item.enabled">
                    <h3 class="gen-sub-title">{{item.skilltype.data.skill}}</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td class="skills">{{ item.skill }}</td>
                                <td class="level">{{ item.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.generatePdf()">Generate!</md-button>
    </div>
</div>