<h1> Home </h1>

<!-- Below is a list with all the different login providers that can be used
To sync the data from the user -->
<em>Json data: </em> {{ vm.data }}<br>
<md-button class="md-raised md-primary" ng-click="vm.authenticate('facebook')">Obtain data from Facebook</md-button><br>
<md-button class="md-raised" ng-click="vm.authenticate('github')">Obtain data from GitHub</md-button><br>
<md-button class="md-raised md-warn" ng-click="vm.authenticate('linkedin')">Obtain data from LinkedIn</md-button><br>
