<md-content layout-padding>
    <form name="vm.workForm">
        <h1> Work </h1>

        <md-input-container ng-repeat="work in vm.workList.work">
            <md-card>
              <md-card-content>
                <md-input-container>
                  <label>Employer</label>
                  <input required name="employer" ng-model="work.employer" type="text" md-maxlength="50">
                  <div ng-messages="vm.workForm.employer.$error" ng-show="!vm.workForm.$pristine">
                    <div ng-message="required">Required field</div>
                    <div ng-message="maxlength">This seems too long, can you shorten it?</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Location</label>
                  <input name="location" ng-model="work.location" type="text" md-maxlength="50">
                  <div ng-messages="vm.workForm.location.$error" ng-show="!vm.workForm.$pristine">
                    <div ng-message="maxlength">This seems too long, can you shorten it?</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Position</label>
                  <input required name="position" ng-model="work.position" type="text" md-maxlength="50">
                  <div ng-messages="vm.workForm.position.$error" ng-show="!vm.workForm.$pristine">
                    <div ng-message="required">Required field</div>
                    <div ng-message="maxlength">This seems too long, can you shorten it?</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Description</label>
                  <textarea ng-model="work.description" columns="1" md-maxlength="2S50"></textarea>
                </md-input-container>
                <md-input-container>
                  <h4>Start date</h4>
                  <md-datepicker ng-model="work.start_date" md-placeholder="Start date"></md-datepicker>
                </md-input-container>
                <md-input-container>
                  <h4>End date</h4>
                  <md-datepicker ng-model="work.end_data" md-placeholder="End date"></md-datepicker>
                </md-input-container>
              </md-card-content>
              <div class="md-actions" layout="row" layout-align="end center">
                <md-checkbox ng-model="work.enabled" aria-label="Enabled" class="md-primary">
                    Enabled
                </md-checkbox>
                <md-button ng-click="vm.deleteWork(work.id)" class="md-raised md-warn">Delete</md-button>
              </div>
            </md-card>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="vm.create()">Add new work entry</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.update()">Update</md-button>
    </form>
</md-content>